.App{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #609966;
    height: 100%;
    width: 25em;
    flex-grow: 2;
    padding: 12px 20px;
    border-radius: 20px;
    box-shadow: 4px 8px 8px #40513B;
}
h1{
    font-family: 'Open Sans', sans-serif;
    color:#9DC08B;
    text-shadow: 4px 8px 12px #40513B;
    
}
.start, .next{
    cursor:pointer;
    margin:12px 0;
    height: 36px;
    width: 60%;
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid #9DC08B;
    background-color: #9DC08B;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    color: #40513B;
    box-shadow: 4px 4px 8px #40513B;
}
.next:hover,
.start:hover{
    opacity: 0.8;
}